// Define variables for your color scheme

// For example:
// $red: #FD1015;
$red: #c06f1e;

// $blue: #0D6EFD;
$blue:#7f2429;

$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-nude:  #f0e7da;
$burgundy: #7f2429;
$camel: #b37b51;;
$btn-active: #c94048;
$text-body: #23130e;
