<div class="footer">
  <div class="footer-links">
    <a target = "_blank" href="https://github.com/ellaherlihy/vintage-wheels-app"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a target = "_blank" href="https://www.linkedin.com/in/chayanagarwal/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <%= render "shared/car_logo" %> Vintage Wheels | 2022
  </div>
    <div class="footer-copyright">
      All rights reserved, Built with <i class="fas fa-heart"></i> in London
  </div>
</div>
