  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.carcovers.com/media/carcover/resource/classiccar.jpg);">
    <div class="container">
    <br>
    <br>
      <h1><strong><em>Vintage Wheels</em></strong></h1>
      <br>
      <h2><strong>Exclusive vintage cars for car lovers ❤️</strong></h2>
      <p>Explore Europe's largest vintage & classic car sharing marketplace</p>
      <br>
    </div></center>
  </div>

    <center>
    <a href='/cars'>
    <button type="button" class="button mt-5 mb-5">
      <span class="button__text">View Our Entire Fleet</span>
      <span class="button__icon">
        <ion-icon name="car-sport-outline"></ion-icon>
      </span>
    </button>
    </a>
    </center>

    <div class="container mt-3">
      <div class="cards">
        <% @cars.each_with_index do |car, index| %>
          <% if (index < 3) %>
            <div class="card">

              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
              url(<%=car.photo_url%>)">
              </div>
              <div class="card-body">
              <center><h5 class="card-title"><%= link_to "#{car.brand} #{car.model}", car_path(car) %></h5></center>
              <p class="card-text text-justify"><%= car.description %></p>

              <%= link_to "£#{car.price.round} per day! <b>BOOK ME</b>".html_safe, car_path(car), class: "mt-auto btn btn-primary"%>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>


  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
