// .container-cars {
//   margin-bottom: 50px;
// }

.cars-heading {
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 160px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  padding: 24px;
}

.container-cars {
  margin: 24px;


}
