// .container-cars {
//   margin-bottom: 50px;
// }

.cars-heading {
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 160px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  padding: 24px;
  font-weight: bolder;
}

.container-index {
  margin: 24px;


}

.container-map-cars {
  display: flex;
  justify-content: space-between;
}

.map-styling {
  flex-grow: 1;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  height: 100vh;
  padding-left: 30px;
  width: 75vw;
}

.map {
  width: 100%;
  height: 100%;
}
