.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: $burgundy;
  transition: background 0.3s ease;
  // border: 1px solid #0F60C4;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn-gradient:hover {
  background: $camel;
  color: white;
}

.buttonss {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  border-radius: 8px;
}

.btn-flat {
  color: white;
  padding: 0px 24px;
  border-radius: 4px;
  background: rgb(205, 111, 44);
  transition: background 0.3s ease;
}

.btn-gradient:hover {
  color: #fff;
  background-color: #6c1f23;
  border-color: #661d21;
}

.btn {
  border-radius: 8px;
}
