.navbar-lewagon {
  justify-content: space-between;
  background: rgb(94, 152, 234);
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}
